@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
  background-image: url("./img/rps.png");
  color: black;
  text-align: center;
  font-family: 'Merienda', cursive;
  background-size: 700px 700px;  
}
