@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
  background-image: url("./img/rps.jpg");
  color: black;
  text-align: center;
  font-family: 'Merienda', cursive;
}
section {
  margin-top: 40px;
  margin-bottom: 40px;
}
